<html>

<head>
	<title>
		<%=siteTitle%>
	</title>
	<link rel="stylesheet"
		  href="css/main.css">
	<script>
		const handleImageState = (showImages) => {
			(async () => {
				const response = await fetch('http://localhost:3011/api/changeState', {
					method: 'PATCH',
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify({
						showImages
					})
				});
				const data = await response.json();
				console.log(data);
			})();
		}
	</script>
</head>

<body>
	<h1>
		<%=siteTitle%>
	</h1>
	<%- include('_nav.ejs')
		%>
		<p>
			<%=message%>
		</p>
		<p>Changing this setting will affect all sessions permanently, not just this current session:</p>
		<div class="buttonArea">
			<button onclick="handleImageState(true)">Show Images</button>
			<button onclick="handleImageState(false)">Hide Images</button>
		</div>
</body>

</html>